.productTitle {
  font-size: 18px;
  font-weight: bold;
  color: #075985;
}

.productDescription {
  font-size: 14px;
  text-align: justify;
  margin-top: 20px;
  color: #0369b6;
}

.background {
  background-color: #f0f9ff;
  border: none !important;
  min-height: 150px;
}

.title {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: bold;
}